body{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    
}
main{
    
   height: 90%;
    aspect-ratio: 16/9;
    background-color: whitesmoke;
    border-radius: 0px;
    border: 5px solid black;
    background: url('/assets/idosa/cenario\ idosa\ 1.png') ;
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 18px;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}


#inimigo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 7/6
                /9/8;
   
    width: 90%;
    aspect-ratio: 2/3;
    z-index: 10;
    background-image: url('./assets/Idosa/Idosa1.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 0px  10px rgba(0,0,0,1))
}

#alegriaInimigo{
    grid-area: 1/1/1/5;

    width: 100%;
    height: 100%;
    top: 0px;
    border-radius: 15px;
    background: green ;
    display: flex;
       justify-content: center;
        align-items: center;

}
#alegriaSua{
    grid-area: 9/9/11/11;

    width: 100%;
    height: 100%;
    top: 0px;
    border-radius: 15px;
    
    display: flex;
;   justify-content: center;
    align-items: center;
}

.vidaInimigo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.heart{
    width: 50px;
    height: 50px;
    background-size:cover;

    filter: drop-shadow(0px 0px  2px rgb(0, 0, 0))

}