body{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    
}
main{
    
   height: 90%;
    aspect-ratio: 16/9;
    background-color: whitesmoke;
    border-radius: 0px;
    border: 5px solid black;
    background: url('/assets/idosa/cenario\ idosa\ 1.png') ;

    border-radius: 18px;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}


#inimigo{
    grid-area: 5/6
                /8/8;
   
    width: 90%;
    aspect-ratio: 2/3;
    
    background-image: url('./assets/idosa/Idosa1.png');
  
    background-repeat: no-repeat;
    background-size: cover;
}
#alegriaInimigo{
    grid-area: 1/1/1/3;

    width: 100%;
    height: 100%;
    top: 0px;
    border-radius: 15px;
    background: green ;

}
#alegriaSua{
    grid-area: 10/9/10/11;

    width: 100%;
    height: 100%;
    top: 0px;
    border-radius: 15px;
    background: orange ;
}