@font-face {
    font-family: anonimosPro;
    src: url(../assets/AnonymousPro-Regular.ttf);
  }

body{
    color: #fff;
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
overflow: hidden;
    font-family: anonimosPro;
    
}
main{
    
   height: 90%;
    aspect-ratio: 16/9;
    background-color: whitesmoke;
    border-radius: 0px;
    border: 5px solid black;
    background: url('/assets/idosa/cenario\ idosa\ 1.png') ;
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 18px;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}
@media screen and (max-width: 1600px){
    main, .mapa{
        width: 90%;
    }
    #mesaCartas .carta{
        width: 100%;
        aspect-ratio:unset;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        text-align: center;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.418);
        font-size: large;
        padding: 0px;
    }
    #inimigo{
        width: 100%;
        min-width: 180px;
        aspect-ratio: 2/3;
    }
}

#inimigo{
    display: flex;
    justify-content: center;
    align-items: flex-start;


    grid-area: 7/6
                /9/8;
   
    width: 90%;
    aspect-ratio: 2/3;
    z-index: 10;
    
    background-image: url('./assets/Idosa/Idosa1.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 0px  10px rgba(0,0,0,1));
    

    
}
#inimigo h3{
    position: relative;
    bottom: 80px;

    padding: 20px;
    color: black;
    border: 5px solid black;
    background-color: wheat;
}
#alegriaInimigo{
    grid-area: 1/1/1/5;
    width: 100%;
    height: 100%;
    top: 0px;
    border-radius: 15px;
    display: flex;
       justify-content: center;
        align-items: center;

}
#alegriaSua{
    grid-area: 9/9/11/11;

    width: 100%;
    height: 100%;
    top: 0px;
    border-radius: 15px;
    
    display: flex;
;   justify-content: center;
    align-items: center;
}

.vidaInimigo{
    position: relative;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 0;
    margin-top: 0;
    gap: 5px;
    border-top: 5px solid black;

    border-right: 5px solid black;

    border-bottom: 5px solid black;
    border-top-left-radius: 15px;
    background-image: url('../assets/mapa2.png');
    background-size: cover;
}
.vidaInimigo .heart{
    width: 8%;
    filter: drop-shadow(0px 0px  10px rgba(0,0,0,1));

    aspect-ratio: 1/1;
}
.vidaJogador{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.heart{
    width: 20%;
    aspect-ratio: 1/1;
    background-size:cover;
    filter: drop-shadow(0px 0px  2px rgb(0, 0, 0))

}

#inimigo.GenZ {
    background-image: url("../assets/GenZ/sprite/s0.png");
}

#inimigo.GenZ[data-frame="1"] {
    background-image: url("../assets/GenZ/sprite/s1.png");
}

#inimigo.GenZ[data-frame="2"] {
    background-image: url("../assets/GenZ/sprite/s2.png");
}

#inimigo.GenZ[data-frame="3"] {
    background-image: url("../assets/GenZ/sprite/s3.png");
}

#inimigo.Militar {
    background-image: url("../assets/Militar/sprite/s0.png");
}

#inimigo.Militar[data-frame="1"] {
    background-image: url("../assets/Militar/sprite/s1.png");
}

#inimigo.Militar[data-frame="2"] {
    background-image: url("../assets/Militar/sprite/s2.png");
}

#inimigo.Militar[data-frame="3"] {
    background-image: url("../assets/Militar/sprite/s3.png");
}


#inimigo.Padre {
    background-image: url("../assets/Padre/sprite/s0.png");
}

#inimigo.Padre[data-frame="1"] {
    background-image: url("../assets/Padre/sprite/s1.png");
}

#inimigo.Padre[data-frame="2"] {
    background-image: url("../assets/Padre/sprite/s2.png");
}

#inimigo.Padre[data-frame="3"] {
    background-image: url("../assets/Padre/sprite/s3.png");
}

#inimigo.Idosa {
    background-image: url("../assets/Idosa/sprite/s0.png");
}

#inimigo.Idosa[data-frame="1"] {
    background-image: url("../assets/Idosa/sprite/s1.png");
}

#inimigo.Idosa[data-frame="2"] {
    background-image: url("../assets/Idosa/sprite/s2.png");
}

#inimigo.Idosa[data-frame="3"] {
    background-image: url("../assets/Idosa/sprite/s3.png");
}


.voltar{
    width: 50px;
    height: 50px;
    background-color: brown;
}