.mapa{
    top:calc(calc(50% - 45%) - 2.5px);
    left:calc(calc(50% - 40%) - 5px);

    width: 80%;
    border-radius: 18px;

    border: 5px solid black;
    aspect-ratio: 16/9;
    background-color:whitesmoke ;
    
    background-image: url('../assets/mapa2.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    justify-items: center;


    z-index: 2;
}
.centralizador{
    width: 50%;
    aspect-ratio: 1/1;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.molduarPersonagem{

    height: 50%;
    z-index: 5;
   aspect-ratio: 1/1;
    border-radius: 5px;
    background-image: url('../assets/cortina/cortina2.png');
    background-repeat: no-repeat;
    background-size: cover; 
    filter: drop-shadow(0px 0px  10px rgba(0,0,0,1))

}   
 .a1{
    grid-column: 1;
    grid-row: 1;
}
.a2{
    grid-column: 1;
    grid-row: 2;
}
.a3{
    grid-column: 2;
    grid-row: 1;
}
.a0{
    grid-column: 2;
    grid-row: 2;
}